{% extends 'cpanel/head.html' %}

{% block title %}Product Categories{% endblock %}

{% block content %}

<h1 class="page-header">Product Categories</h1>
	<div class="row">
		<div class="col-md-4">
		    {% if categories %}
		    <table class="table">
		    	<tr>
		    		<th>Category</th>
		    		<th>Parent Category</th>
		    		<th><i class="fa fa-cogs"></i></th>
		    	</tr>
		        {% for cat in categories %}
		        <tr>
		        	<td><a href="{% url 'cpanel:category' cat.slug %}">{{ cat.title }}</a></td>
		        	<td>{% if cat.parent %}{{ cat.parent }}{% endif %}</td>
		        	<td><a href="{% url 'cpanel:category' cat.slug %}"><span class="fa fa-edit"></span> Edit</a></td>
		        </tr>
		        {% endfor %}
		    </table>
		    {% else %}
		    <p>There were no categories found. Try adding some.</p>
		    {% endif %}
	   </div>
	</div>

<a href="{% url 'cpanel:new_cat' %}" class="btn btn-primary">Add Category</a>

{% endblock content %}